@model Lesson6.Models.Student

<h2>Thêm sinh viên</h2>

<form asp-action="Create" method="post">

Name: <input asp-for="fullName" /><br/>

Age: <input asp-for="Age" /><br/>

Class: <input asp-for="Class" /><br/>

<button type="submit">Save</button>

</form>